# cmake stuff
backend/cmake-build-debug/
backend/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build.ninja

# CLION specific
.idea/
*.iml

# compiled files
*.o
*.obj
*.so
*.exe
*.out
.vscode/
*/.cmake/


backend/config/apikey.txt
